

/**
 * UniCEUB
 * ASA - Automatização de Senhas para Avaliações
 * styles.css
 *
 * @package    report
 * @subpackage uniceubasa
 * @author     Michael Meneses <michael.souza@uniceub.br>
 * @copyright  2014 UniCEUB
 */

#page-admin-report-uniceubasa-index .mform .fitem fieldset.felement span {
	display: block;
	margin-bottom: 4px;
}

#page-admin-report-uniceubasa-index .mform .fitem .felement input[type=submit]:nth-child(2) {
	margin-left: 0.5em;
}

#page-admin-report-uniceubasa-index #report_view {
	margin: 10px 0px;
}

#page-admin-report-uniceubasa-index dl dt {
	margin: 0;
	font-weight: bold;
	display: block;
	float: left;
	width: 140px;
	overflow: hidden;
	white-space: nowrap;
	padding-top: 3px;
	padding-bottom: 3px;
}
#page-admin-report-uniceubasa-index dl dd {
	margin: 0;
	margin-left: 140px;
	padding-top: 3px;
	padding-bottom: 3px;
}

#page-admin-report-uniceubasa-index .bold_inline,
#page-report-uniceubasa-index .bold_inline {
	font-weight: bold;
	display: table;
}

#page-admin-report-uniceubasa-index div.course,
#page-report-uniceubasa-index div.course {
	margin-bottom: 30px;
}

#page-admin-report-uniceubasa-index #button_active,
#page-report-uniceubasa-index #button_active {
	cursor: pointer;
}
